::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 12px; /* высота для горизонтального скролла */

  background: linear-gradient(
    55.95deg,
    hsla(2, 100%, 61%, 0.3) 0%,
    rgba(247, 94, 5, 0.3) 100%
  );
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  /* ползунок скроллбара при наведенні  */
  background: linear-gradient(55.95deg, #fa332c 0%, #ec5803 100%);
}
::-webkit-scrollbar-button:vertical:start:decrement {
  /* стрелки */
  background: linear-gradient(55.95deg, #fa332c 0%, #ec5803 100%);
}

::-webkit-scrollbar-button:vertical:end:increment {
  /* стрелки */
  background: linear-gradient(55.95deg, #fa332c 0%, #ec5803 100%);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  /* стрелки */
  background: linear-gradient(55.95deg, #fa332c 0%, #ec5803 100%);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  /* стрелки */
  background: linear-gradient(55.95deg, #fa332c 0%, #ec5803 100%);
}
