@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url(./scroll-bar.css);
@import url(./reset.css);
@import url(./commond.css);
@import url(./contacts.css);

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*='__container'] {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 15px;
}
body {
  font-family: 'Lato', 'serif';
}

.header {
  padding: 20px 0px;
  position: absolute;
  width: 100%;
  color: #424551;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  z-index: 100;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__burger {
  display: none;
}
.header__logo {
}
.header__menu {
  flex: 1 1 auto;
}
.menu-header {
}
.menu-header__list {
  display: flex;
  column-gap: 40px;
  row-gap: 15px;
  flex-wrap: wrap;
}
.menu-header__item {
}
.menu-header__link:hover {
  color: #ff3f3a;
  transition-duration: 0.1s;
}
.header__active {
  flex: 0 0 auto;
  display: flex;
  column-gap: 36px;
  row-gap: 20px;
  align-items: center;
}
.header__log-in {
  background: url(../img/Profile.svg) 0 0 no-repeat;
  padding-left: 28px;
  line-height: 1.25;
}
.header__log-in span:hover {
  text-decoration: underline;
}
/* ============================================================================= */
.main {
}
.enjoy {
  padding: 244px 0px 80px 0px;
  background: linear-gradient(
    55.95deg,
    rgba(255, 63, 56, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}
.enjoy__container {
  display: flex;
  flex-direction: column;
}
.enjoy__body {
  display: flex;
  margin-bottom: 180px;
}
.enjoy__content {
  flex: 1 1 50%;
  padding-right: 40px;
  z-index: 2;
}
.enjoy__pusk {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  position: relative;
  margin-bottom: 55px;
  margin-left: 67px;
  cursor: pointer;
}
.enjoy__pusk::before {
  content: '';
  position: absolute;
  left: -67px;
  top: -15px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ff3f3a;
  opacity: 0.12;
  transform: scale(1.6);
  animation-name: pusk;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pusk {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
.enjoy__pusk span::before {
  content: '';
  display: block;
  width: 52px;
  height: 52px;
  background: url(../img/pusk.svg) no-repeat;
  position: absolute;
  left: -45px;
  top: 4px;
  z-index: 1;
}
.enjoy__pusk::after {
  content: '';
  position: absolute;
  left: -67px;
  top: -15px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ff3f3a;
}

.enjoy__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1e212c;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
.enjoy__buuton-orange {
}

.enjoy__buuton {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.button-orange {
}
.button-border-orange {
}
.enjoy__img {
  flex: 0 1 auto;
  z-index: 2;
}
.enjoy__img img {
  max-width: 100%;
  transform: translate(47px, 0px);
}
.enjoy__footer {
}
.footer-enjoy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer-enjoy__block {
  display: flex;
  gap: 12px;
  color: #1e212c;
  align-items: center;
}
.footer-enjoy__number {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
}
.footer-enjoy__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.footer-enjoy__red-bol {
  background: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* ============================================================================= */
/* <!-- Скопіровано --> */
.decor-main {
  position: absolute;
  width: 100vw;
  height: calc(1080px);
  top: 0;
  left: 0;
  z-index: 1;
}
.decor-main__item {
  position: absolute;
}
.decor-main__item--1 {
  background: url('../img/main-1/02-shapes-diagonal.svg') 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 12%;
  left: 4.5%;
}
.decor-main__item--2 {
  background: url('../img/main-1/02-circles.svg') 0 0 no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9.2%;
  left: -5.5%;
}
.decor-main__item--3 {
  background: url('../img/main-1/03shapes.svg') 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}
.decor-main__item--4 {
  background: url('../img/main-1/04Vector.svg') 0 0 no-repeat;
  width: 61px;
  height: 61px;
  bottom: 24%;
  left: 38%;
}
.decor-main__item--5 {
  background: url('../img/main-1/02-shapes-diagonal.svg') 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: -1.5%;
  right: 4%;
  transform: rotate(135deg);
}
.decor-main__item--6 {
  background: url('../img/main-1/06dots.svg') 0 0 no-repeat;
  width: 187px;
  height: 137px;
  bottom: 18%;
  right: -1.5%;
}
/* 2-============================================================================= */
.who-we-are {
  background: url(../img/main-2-who-we-are/dots.svg) -100px 37% no-repeat,
    url(../img/main-2-who-we-are/circles.svg) calc(100% + 140px) 66% no-repeat;
}
.who-we-are__container {
  padding: 180px 0px;
  display: flex;
  /* flex-wrap: wrap; */
}
.who-we-are__img {
  flex: 1 0 57%;
  margin-right: 9%;
}
.who-we-are__img img {
  max-width: 100%;
  /* transform: translate(-15px); */
}
.who-we-are__content {
  display: flex;
  flex-direction: column;
}
.who-we-are__title {
  color: #1e212c;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.who-we-are__sub-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.who-we-are__list {
  margin-bottom: 48px;
}
.who-we-are__list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  padding-left: 32px;
  position: relative;
}
.who-we-are__list li::before {
  content: '';
  background: url(../img/main-2-who-we-are/check.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 6px;
  left: 0px;
}
.who-we-are__list li:not(:last-child) {
  margin-bottom: 12px;
}
.button-orange--size {
  padding: 12px 32px;
}
.who-we-are__button {
}
/* 3-============================================================================= */
.ready-to-learn {
}
.ready-to-learn__container {
  display: flex;
  flex-direction: column;
}
.ready-to-learn__header {
  margin-bottom: 8px;
}
.ready-to-learn__sub-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.ready-to-learn__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  gap: 30px;
}
.ready-to-learn__sub-title-text {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
.button-orange {
}
.button-border-orange {
}
.button-border-orange-size {
}
.ready-to-learn__body-colection {
}
.colection-body {
}

.colection-body {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0px -15px; */
  gap: 30px;
}
.colection-body__block {
  /* padding: 0px 15px; */
  /* flex-wrap: wrap; */
  gap: 32px;

  background: #ffffff;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  display: flex;
  flex: 1 1 calc(50% - 15px);
}
.yacheyki__pictchers {
  /* flex: 0 0 35%; */
}
.colection-body__img {
  max-height: 214px;
}
.colection-body__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 auto;
}
.colection-body__profesion {
  margin-bottom: 20px;
  background: #03cea4;
  border-radius: 4px;
  line-height: 150%;
  color: #ffffff;
  display: inline-block;
  padding: 1px 8px;
}
.colection-body__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 20px;
}
.colection-body__booton {
  color: #ff4242;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.colection-body__booton span {
  font-weight: 400;
  color: gray;
}
/* 4============================================================================= */
.our-benefits {
}
.our-benefits__container {
  padding: 180px 0px 60px 0px;
}
.our-benefits__header {
  margin-bottom: 60px;
}
.head-title {
}
.our-benefits__links {
  display: flex;
  flex-wrap: wrap;
}
.our-benefits__block {
  flex: 1 0 25%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.our-benefits__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  position: relative;
}
.our-benefits__block--1 {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}
.our-benefits__img {
  width: 16px;
  height: 16px;
}
/* 5============================================================================= */
.only-practicing {
  padding-bottom: 120px;
}
.only-practicing__container {
  display: flex;
  align-items: center;
}
.only-practicing__content {
  margin-right: 11%;
  flex: 1 1 51%;
}
.only-practicing__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 24px;
  color: #1e212c;
}
.only-practicing__paragraf {
  line-height: 160%;
  color: #424551;
}
.only-practicing__img {
  flex: 1 1 49%;
}
.only-practicing__img img {
  max-width: 100%;
}
/* 6============================================================================= */
.our-events {
  padding: 80px 0px;
  background: url(../img/main-1/02-circles.svg) calc(100% + 100px) -120px no-repeat,
    url(../img/main-1/06dots.svg) -20px 100% no-repeat,
    linear-gradient(
      55.95deg,
      rgba(255, 63, 56, 0.2) 0%,
      rgba(247, 94, 5, 0.2) 100%
    );
}
.our-benefits__container {
}
.our-events__head-title {
  margin-bottom: 60px;
}
.our-events__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}
.our-events__moon {
}
.moon {
  background: #ffffff;
  padding: 32px 40px;
  display: flex;
  align-items: center;
}
.moon__day {
  color: #ff3f3a;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 1.16%;
  border-radius: 4px;
}
.moon:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.moon__month {
  margin-right: 3.2%;
}
.moon__concretic-moon {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.moon__ocloc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.month__content {
  flex: 1 1 auto;
}
.moon__up-content {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.moon__dwn-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.button-orange {
}
.button-border-orange {
}
.button-border-orange-our--events:hover {
  display: inline-block;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 16px 40px;
  cursor: pointer;
}
.our-events__footer {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.our-events__ftext {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
}
/* 7============================================================================= */
.createx-certificate {
  padding: 120px 0px 0px;
}
.createx-certificate__container {
  display: flex;
}
.createx-certificate__body {
  flex: 1 1 40%;
  margin-right: 10%;
}
.createx-certificate__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.createx-certificate__sub-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-bottom: 48px;
}
.createx-certificate__paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 32px;
}
.createx-certificate__icons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.createx-certificate__icons img {
  width: 105px;
  height: 50px;
}
.createx-certificate__img {
  flex: 1 1 60%;
}
.createx-certificate__img img {
  max-width: 100%;
  transform: translate(0%, 40px);
}
/* 8============================================================================= */
.meet-our-team {
  padding: 160px 0px 180px 0px;
  background: #f4f5f7;
}
.meet-our-team__container {
}
.head-title {
}
.head-title--left {
  align-items: flex-start;
  text-align: left;
  margin-bottom: 60px;
}
.head-title__header {
}
.head-title__litl-text {
}
.head-title__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.head-title__title {
}
.head-title__buttons {
  display: flex;
  gap: 24px;
}
.buttons-shooter {
}
.buttons-shooter__left {
  position: relative;
}
.buttons-shooter__right {
  transform: rotate(180deg);
  position: relative;
  z-index: 3;
}
.buttons-shooter__right:hover:before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff3f3a;
  position: absolute;
  color: #ffffff;
  z-index: 1;
  top: -11px;
  left: -10px;
}
.buttons-shooter__right:hover:after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/main-8_meet-our-team/shuter-white-01.svg);
  position: absolute;
  color: #ffffff;
  z-index: 1;
  top: 0px;
  left: 2px;
}

.buttons-shooter__left:hover:before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff3f3a;
  position: absolute;
  color: #ffffff;
  z-index: 1;
  top: -12px;
  left: -10px;
}
.buttons-shooter__left:hover:after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/main-8_meet-our-team/shuter-white-01.svg);
  position: absolute;
  color: #ffffff;
  z-index: 1;
  top: 0px;
  left: 2px;
}

.meet-our-team__body {
  display: flex;
  gap: 30px;
  overflow: hidden;
}
.cartka {
  flex: 0 0 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.cartka__img {
  margin-bottom: 16px;
  background: #ffcf2d;
  max-height: 340px;
  width: 285px;
  border-radius: 4px;
  padding: 20px 20px 0px 20px;
}
.cartka__img img {
  max-width: 245px;
  max-height: 320px;
}
.cartka__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 4px;
  text-align: center;
}
.cartka__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  text-align: center;
}
/* 9============================================================================= */
.testimonials {
  padding-bottom: 100px;
  background: url(../img/main-1/02-circles.svg) calc(100% + 100px)
      calc(100% + 100px) no-repeat,
    url(../img/main-1/02-circles.svg) 6% -200px no-repeat, #f4f5f7;
}
.testimonials__container {
}
.testimonials__head {
  margin-bottom: 60px;
}
.testimonials__body {
  align-items: center;
  display: flex;
}
.testimonials__left-vector {
  margin-right: 6.5%;
}
.buttons-shooter__left {
}
.testimonials__center-text {
  flex: 1 1 auto;
  padding: 64px 8.5% 64px 13.2%;
  background-color: white;
  margin-bottom: 60px;
}
.testimonials__paragraf {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
  position: relative;
}
.testimonials__paragraf::before {
  content: '';
  background: url(../img/main-9_testimonials/braces.svg);
  width: 28px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: -58px;
}
.testimonials__people {
  display: flex;
  gap: 20px;
  align-items: center;
}
.testimonials__icon {
}
.testimonials__sub-icon {
}
.testimonials__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  margin-bottom: 4px;
}
.testimonials__profesion {
  color: #787a80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.testimonials__right-vector {
  margin-left: 6.5%;
}
.buttons-shooter__right {
}
.testimonials__footer {
}
.list-dots {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.list-dots__dot {
  width: 30px;
  height: 0px;
  border: 3px solid #b3b7bc;
  border-radius: 5px;
}
.list-dots__dot--active {
  border: 3px solid rgba(66, 69, 81, 1);
}
/* 10============================================================================= */
.our-blog {
  padding: 120px 0px 180px 0px;
}
.our-blog__container {
}
.our-blog__title {
  margin-bottom: 60px;
}
.our-blog__body {
}

.latest-posts {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.latest-posts__block {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - 30px);
}
.latest-posts__img {
  position: relative;
  margin-bottom: 17px;
}
.latest-posts__big-img {
  max-width: 100%;
}
.latest-posts__mini-img {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  border-radius: 3px;
  padding: 1px 8px;
}
.latest-posts__mini-img img {
  max-width: 100%;
}
.latest-posts__grey-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #787a80;
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
.latest-posts__profesion {
}
.latest-posts__day {
  border-left: 1px solid #787a80;
  padding-left: 36px;
  position: relative;
}
.latest-posts__day::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/main-10_latest-posts/Calendar.svg) no-repeat;
  position: absolute;
  top: -2px;
  left: 12px;
}
.latest-posts__time {
  border-left: 1px solid #787a80;
  padding-left: 36px;
  position: relative;
}
.latest-posts__time::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/main-10_latest-posts/Clock.svg) no-repeat;
  position: absolute;
  top: -2px;
  left: 12px;
}
.latest-posts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}
.latest-posts__paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}
.latest-posts__buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  position: relative;
}
.latest-posts__buttom::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/main-10_latest-posts/Right.svg) no-repeat;
  position: absolute;
  top: 2px;
  left: 50px;
}
/* 11============================================================================= */
.dont-miss-anything {
  background: url(../img/main-11/illustration.svg) 0% 100% no-repeat,
    url(../img/main-11/illustration.svg) 100% 100% no-repeat,
    linear-gradient(
      55.95deg,
      rgba(255, 63, 56, 0.2) 0%,
      rgba(247, 94, 5, 0.2) 100%
    );
  padding: 122px 0px 180px 0px;
}
.dont-miss-anything__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dont-miss-anything__title {
  margin-bottom: 60px;
}
.head-title {
}
.head-title__header {
}
.head-title__litl-text {
}
.head-title__title {
  max-width: 810px;
  text-align: center;
}
.dont-miss-anything__body {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.dont-miss-anything__zaglushka {
}
.dont-miss-anything__zaglushka input {
  padding: 13px 16px;
  width: 422px;
  height: 52px;
}
.dont-miss-anything__zaglushka input:focus {
  outline: 1px solid #f75e05;
}
.dont-miss-anything__zaglushka input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.button-orange {
}
.footer {
  background: #1e212c;
  color: rgba(255, 255, 255, 0.6);
}
/* 
bleack-footer============================================================================= */
.black-footer {
  padding: 80px 0px 60px 0px;
}
.black-footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.black-footer__createx {
}
.createx {
  flex: 0 1 279px;
}
.createx__logo {
  margin-bottom: 24px;
}
.createx__paragraf {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 38px;
}
.createx__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.createx__img {
  max-width: 24px;
  max-height: 24px;
}
.black-footer__centr {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.black-footer__site-map {
}
.site-map {
}
.site-map__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 12px;
}
.site-map__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.site-map__list li:not(:last-child) {
  margin-bottom: 8px;
}
.black-footer__courses {
}
.black-footer__contact-us {
}
.site-map__item--before-1 {
}
.site-map__item--before-2 {
}
.black-footer__sing-to-our {
}
.sing-to-our {
  flex: 0 1 286px;
}
.sing-to-our__title {
}
.sing-to-our__form {
  margin-bottom: 12px;
}
.sing-to-our__form input {
  width: 286px;
  max-height: 36px;
  padding: 9px 12px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.sing-to-our__form input::placeholder {
  opacity: 0.6;
}
.sing-to-our__paragraf {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}
/* grey-footer============================================================================= */
.gray-footer {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px 0px;
}
.gray-footer__container {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.gray-footer__left {
  display: flex;
}
.gray-footer__text {
  padding-right: 24px;
}
.gray-footer__name {
  position: relative;
}
.gray-footer__name::before {
  content: '';
  display: block;
  width: 15px;
  height: 13px;
  background: url(../img/footer/like.svg) no-repeat;
  position: absolute;
  top: 2px;
  left: -19px;
}

.gray-footer__right {
  color: rgba(255, 255, 255, 0.6);
}
/* Адаптив============================================================================= */

@media (max-width: 1087px) {
  .enjoy__title {
    font-size: 44px;
  }

  .enjoy__img {
  }
}
@media (max-width: 887px) {
  .enjoy__content {
    flex: 1 1 80%;
  }
}

@media (max-width: 945px) {
  .header {
    position: relative;
  }
  .header__container {
  }
  .header__logo {
  }
  .header__menu {
  }
  .menu-header {
  }
  .menu-header__list {
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0%;
    right: 0%;
    background: linear-gradient(
      55.95deg,
      rgba(255, 63, 56, 0.8) 0%,
      rgba(247, 94, 5, 0.8) 100%
    );
    padding: 100px 0px;
    text-align: center;
    font-size: 30px;
    line-height: 130%;
    height: 100vh;
    width: 300px;
    z-index: -1;
    transition-duration: 0.3s;
  }
  .menu-header__list-active {
    transform: translate(500px, 0px);
  }
  .menu-header__item {
    margin-bottom: 20px;
  }
  .menu-header__link {
  }
  .header__burger {
    display: block;
    width: 40px;
    height: 22px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  .header__burger::before,
  .header__burger span,
  .header__burger::after {
    left: 0;
    position: absolute;
    background-color: #ff3f3a;
    height: 10%;
    width: 100%;
    transition-duration: 0.3s;
  }
  .header__burger::before {
    content: '';
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger::after {
    content: '';
    bottom: 0;
  }
  .header__active {
    display: none;
  }

  .button-orange {
  }
  .header__log-in {
  }
  .body-hiden {
    overflow: hidden;
  }
}
/* enjoy============================================================================= */
@media (max-width: 761px) {
  .enjoy {
    padding: 104px 0px 40px 0px;
  }
  .enjoy__img {
    display: none;
  }
  .footer-enjoy {
    flex-wrap: wrap;
  }
  .footer-enjoy__red-bol {
    display: none;
  }
  .footer-enjoy__block {
    flex: 1 1 47%;
  }
  .enjoy__body {
    margin-bottom: 100px;
  }
  .footer-enjoy__number {
    font-size: 36px;
  }
}
@media (max-width: 471px) {
  .footer-enjoy {
    flex-direction: column;
    align-items: flex-start;
  }
  .enjoy__title {
    font-size: 34px;
  }
  .enjoy__body {
    margin-bottom: 50px;
  }
  .decor-main {
    opacity: 0.5;
  }
  .footer-enjoy__number {
    font-size: 26px;
  }
  .footer-enjoy__text {
    font-size: 12px;
  }
}
/* who-we-are============================================================================= */
@media (max-width: 769px) {
  .who-we-are__container {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
  }
  .who-we-are__img {
    align-self: center;

    margin-right: 0;
    margin-bottom: 20px;
  }
  .who-we-are__content {
    padding: 0px 15px;
  }
}
@media (max-width: 471px) {
  .who-we-are__sub-title {
    font-size: 30px;
  }
}
/* ready-to-learn============================================================================= */
@media (max-width: 1040px) {
  .colection-body {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .ready-to-learn__title {
  }
  .ready-to-learn__sub-title-text {
    font-size: 30px;
  }
}
@media (max-width: 529px) {
  .ready-to-learn__title {
    flex-wrap: wrap;
  }
  .colection-body__block {
    /* height: 100px; */
    /* flex-direction: column; */
  }
  .colection-body__title {
    font-size: 15px;
  }
  .colection-body__booton {
  }
}
@media (max-width: 429px) {
  .colection-body__block {
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
  }
  .colection-body__content {
    align-items: center;
  }
}
/* our-benefits============================================================================= */
@media (max-width: 529px) {
  .our-benefits__title {
    font-size: 20px;
  }
  .our-benefits__sub-title {
    font-size: 35px;
  }

  .our-benefits__block {
    flex: 1 1 50%;
  }

  .our-benefits__img {
  }
  .our-benefits__text {
    font-size: 12px;
  }
}
/* * only-practicing============================================================================= */
@media (max-width: 629px) {
  .only-practicing__container {
    flex-direction: column;
    gap: 30px;
    padding: 60px 15px 0px 15px;
  }
  .only-practicing__content {
    flex: 1 1 auto;
  }
  .only-practicing__title {
    font-size: 29px;
    text-align: center;
  }
  .only-practicing__paragraf {
  }
  .only-practicing__img {
  }
}
/* * our-events============================================================================= */
@media (max-width: 629px) {
  .our-events__subtitle {
    font-size: 35px;
  }
  .moon {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 15px 40px;
  }
  .moon__day {
    margin-right: 0;
  }
  .moon__month {
    margin-right: 0;
  }
  .moon__concretic-moon {
    text-align: center;
  }
  .moon__ocloc {
  }
  .month__content {
    text-align: center;
  }
  .moon__up-content {
    font-size: 15px;
  }
}
/* * createx-certificate============================================================================= */
@media (max-width: 649px) {
  .createx-certificate__container {
    flex-direction: column;
  }
}
@media (max-width: 489px) {
  .createx-certificate {
    padding: 80px 0px 0px;
  }
  .createx-certificate__body {
    text-align: center;
  }
  .createx-certificate__title {
    font-size: 14px;
  }
  .createx-certificate__sub-title {
    font-size: 35px;
  }
}
/* * meet-our-team============================================================================= */
@media (max-width: 649px) {
  .meet-our-team {
  }
  .meet-our-team__container {
  }
  .head-title__body {
    flex-wrap: wrap;
    gap: 20px;
  }
  .meet-our-team__title {
    font-size: 14px;
  }
  .meet-our-team__sub-title {
    font-size: 35px;
  }
  .head-title--left {
    margin-bottom: 20px;
  }
  .buttons-shooter {
  }
  .buttons-shooter__left {
  }
  .buttons-shooter__right {
  }
  .meet-our-team__body {
    flex-direction: column;
  }
  .cartka {
  }
  .cartka__img {
    max-height: 340px;
    margin-bottom: 0px;
  }
  .cartka__img img {
    max-width: 245px;
    max-height: 320px;
  }
  .cartka__name {
    line-height: 110%;
    margin-bottom: 0px;
  }
  .cartka__work {
    line-height: 110%;
  }
}
/* * meet-our-team============================================================================= */
@media (max-width: 649px) {
  .testimonials__title {
    font-size: 14px;
  }
  .testimonials__sub-title {
    font-size: 35px;
  }
  .testimonials__paragraf::before {
    left: -35px;
  }
  .testimonials__paragraf {
    font-size: 14px;
  }
}
/* * our-blog============================================================================= */
@media (max-width: 649px) {
  .our-blog {
    padding: 60px 0px 60px 0px;
  }
}
@media (max-width: 980px) {
  .latest-posts {
    flex-direction: column;
  }

  .latest-posts__block {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
@media (max-width: 649px) {
  .latest-posts__block {
    flex-direction: column;
    gap: 10px;
  }
}
/* *dont-miss-anything============================================================================= */
@media (max-width: 949px) {
  .dont-miss-anything {
    background: url(../img/main-11/illustration.svg) 0% 100% / 40% no-repeat,
      url(../img/main-11/illustration.svg) 100% 100% / 40% no-repeat,
      linear-gradient(
        55.95deg,
        rgba(255, 63, 56, 0.2) 0%,
        rgba(247, 94, 5, 0.2) 100%
      );
    padding: 80px 0px 100px 0px;
  }
}
@media (max-width: 649px) {
  .dont-miss-anything__container {
  }
  .dont-miss-anything__title {
  }
  .ont-miss-anything__top-title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .ont-miss-anything__sub-top-title {
    font-size: 35px;
  }
  .dont-miss-anything__body {
  }
  .dont-miss-anything__zaglushka input {
    width: 222px;
  }
  .button-orange {
  }
}
